<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>
<body class="bg-red-gradient">
<header class="about-bg">
    <%- include('layouts/navBar') -%>
    <section class="container">
        <div class="row justify-content-center align-items-center text-center"
             style="height: 70vh;">
            <div class="col-lg-8">
                <h1 class="cursive text-white display-2 fadeInDown fw-bold">About MCWT</h1>
                <p class="fadeInLeft delay-1">
                    Listen to our podcast and stay informed on the news that you want to hear.
                </p>
            </div>
        </div>
    </section>
</header>

<main class="container my-5 py-5">
    <div class="row justify-content-center align-items-center mb-6">
        <div class="col-lg-12 mb-4">
            <h2 class="h1">Our Hard-Working Team</h2>
        </div>
        <div class="col-lg-3 mb-3">
            <div class="card">
                <img src="/assets/image000003.jpg" class="card-img" alt="about us">
                <p class="card-title fw-bold">Stacey - Owner</p>
                <p class="card-text">
                    Founder and CEO
                </p>
            </div>
        </div>
        <div class="col-lg-3 mb-3">
            <div class="card">
                <img src="/assets/image000003.jpg" class="card-img" alt="about us">
                <p class="card-title fw-bold">Stacey - Owner</p>
                <p class="card-text">
                    Founder and CEO
                </p>
            </div>
        </div>
        <div class="col-lg-3 mb-3">
            <div class="card">
                <img src="/assets/image000003.jpg" class="card-img" alt="about us">
                <p class="card-title fw-bold">Stacey - Owner</p>
                <p class="card-text">
                    Founder and CEO
                </p>
            </div>
        </div>
        <div class="col-lg-3 mb-3">
            <div class="card">
                <img src="/assets/image000003.jpg" class="card-img" alt="about us">
                <p class="card-title fw-bold">Stacey - Owner</p>
                <p class="card-text">
                    Founder and CEO
                </p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 mb-3">
            <h3 class="h3">Started In 2012</h3>
            <hr style="width: 140px; margin-top: 10px; margin-bottom: 10px;">
            <p class="fw-light">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ipsa obcaecati omnis praesentium quasi, quis rerum? Assumenda cum dolor error et ipsum quaerat quis reprehenderit saepe sapiente vitae. Incidunt, qui?
            </p>
        </div>
        <div class="col-lg-4 mb-3">
            <h3 class="h3">Continued In 2017</h3>
            <hr style="width: 140px; margin-top: 10px; margin-bottom: 10px;">
            <p class="fw-light">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ipsa obcaecati omnis praesentium quasi, quis rerum? Assumenda cum dolor error et ipsum quaerat quis reprehenderit saepe sapiente vitae. Incidunt, qui?
            </p>
        </div>
        <div class="col-lg-4 mb-3">
            <h3 class="h3">Currently In 2025</h3>
            <hr style="width: 140px; margin-top: 10px; margin-bottom: 10px;">
            <p class="fw-light">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ipsa obcaecati omnis praesentium quasi, quis rerum? Assumenda cum dolor error et ipsum quaerat quis reprehenderit saepe sapiente vitae. Incidunt, qui?
            </p>
        </div>
    </div>
</main>

<%- include('layouts/footer') -%>

<!-- MDB -->
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"
></script>
</body>
</html>