<!doctype html>
<html lang="en">
<%- include('layouts/header') -%>
<body class="bg-red-gradient">

<header class="home-bg">
    <%- include('layouts/navBar') -%>
    <div class="container">
        <section class="row align-items-center align-items-center">
            <div class="col-lg-7">
                <h1 class="cursive text-dark-red fadeInDown">Mom Can We Talk</h1>
                <p class="text-white fadeInLeft delay-1 lead mb-3">
                    We truly believe that IT TAKES A VILLAGE!! With the Community's support, we can make a meaningful impact on the lives of the youth in our community.
                </p>
                <a href="https://app.frame.io/reviews/6ef12aca-2c21-4286-926c-8e0dd774f3ba/fcedca44-c9b6-45eb-a739-b5df89d872ed"
                   target="_blank" class="btn fadeInUp delay-2 btn-danger">Listen To Our Show</a>
            </div>
        </section>
    </div>
</header>
<main>
    <div class="container my-5">
        <article class="row mb-6">
            <div class="col-lg-6 mb-3">
                <h2>Mission Statement:</h2>
                <p>
                    To provide a safe platform for youth to share their stories and challenges, particularly those related to their upbringing, school life, and home environment. Through community collaboration and support, we aim to foster open dialogue, build empathy, and provide resources to help them overcome personal and societal struggles.
                </p>
            </div>
            <div class="col-lg-6 mb-3">
                <h2>Vision Statement:</h2>
                <p>
                    To create an ongoing, accessible platform for youth to discuss their challenges and receive guidance, resources, and support from adults who have overcome similar struggles. Through events, after-school programs, and digital tools like the upcoming Mom Can We Talk App! We aim to make lasting impacts in the lives of young people in underserved communities.
                </p>
            </div>
        </article>
        <div class="row mb-7 flex-row-reverse justify-content-center">
            <div class="col-lg-7 mb-3">
                <h3 class="h1 mb-2">Taking it to the next level</h3>
                <p class="mb-2">
                    If you or someone you know are willing to telling their story please Let's Talk About It! Let your healing process start here! I pray that your story will resonate with a young adult. At these "Mom Can We Talk" Events we provide local resources & mental health therapists for your convenience. We also highlight our young entrepreneurs. Please keep an eye out for our upcoming events.
                </p>
                <a href="#contact" class="btn btn-outline-light">Let's Talk About It</a>
            </div>
            <div class="col-lg-5 mb-3">
                <img src="/assets/img_5836.jpg" class="img-fluid rounded shadow-lg" alt="image">
            </div>
        </div>
        <div class="row mb-7 justify-content-center">
            <div class="col-lg-3 mb-3">
                <img src="/assets/img_6274.jpg" class="img-fluid rounded shadow-lg" alt="gallery image" />
            </div>
            <div class="col-lg-3 mb-3">
                <img src="/assets/img_1491.jpg" class="img-fluid rounded shadow-lg" alt="gallery image" />
            </div>
            <div class="col-lg-3 mb-3">
                <img src="/assets/img_3315.jpg" class="img-fluid rounded shadow-lg" alt="gallery image" />
            </div>
            <div class="col-lg-3 mb-3">
                <img src="/assets/img_6258.jpg" class="img-fluid rounded shadow-lg" alt="gallery image" />
            </div>
        </div>
    </div>
    <section class="banner mb-7">
        <div class="container-fluid">
            <div class="row justify-content-center text-center align-items-center">
                <div class="col-lg-12 mb-4">
                    <p class="fw-bold display-4">
                        Where You Can Find Us
                    </p>
                </div>
                <div class="col-lg-3 mb-3">
                    <p class="h2 fw-bold">Facebook</p>
                </div>
                <div class="col-lg-3 mb-3">
                    <p class="h2 fw-bold">Spotify</p>
                </div>
                <div class="col-lg-3 mb-3">
                    <p class="h2 fw-bold">YouTube</p>
                </div>
                <div class="col-lg-3 mb-3">
                    <p class="h2 fw-bold">Instagram</p>
                </div>
            </div>
        </div>
    </section>
    <div class="container my-5">
        <section class="row mb-7 justify-content-center">
            <div class="col-lg-3 mb-3">
                <div class="card">
                    <div class="card-header-pills">
                        <img src="https://scontent-dfw5-2.xx.fbcdn.net/v/t39.30808-1/335317648_1593731051110155_5992146525617537676_n.jpg?stp=c446.0.1156.1156a_dst-jpg_s200x200_tt6&_nc_cat=100&ccb=1-7&_nc_sid=2d3e12&_nc_ohc=fIQKWfcvJuQQ7kNvgF9gQ9m&_nc_zt=24&_nc_ht=scontent-dfw5-2.xx&_nc_gid=AEH_JkHHMD2Pl8tFcFt5ieB&oh=00_AYBZ-CwtHg8M6qmFVg8j45qPvh253zrogducTOBihjpeUQ&oe=677E0874" class="card-img" alt="img">
                    </div>
                    <h4 class="card-header">Soulmine</h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio hic ipsum modi.
                    </p>
                    <p class="card-footer">
                        <a href="https://www.facebook.com/profile.php?id=100090814104807" target="_blank">
                           Follow Us <i class="fa-brands fa-facebook"></i>
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="card">
                    <div class="card-header-pills">
                        <img src="https://images.squarespace-cdn.com/content/v1/650b3abd7bbe08247247e5c8/09d133cb-fc0c-4234-aa80-1abe59e3dbcf/logo+dads-01.png?format=1500w" class="card-img" alt="img">
                    </div>
                    <h4 class="card-header">D.A.C.</h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio hic ipsum modi.
                    </p>
                    <p class="card-footer">
                        <a href="https://www.dadsagainstcrime.org/" target="_blank">
                            Visit Us <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="card">
                    <div class="card-header-pills">
                        <img src="https://scontent-dfw5-2.xx.fbcdn.net/v/t39.30808-1/286172794_355433170006619_8998947620350417252_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=108&ccb=1-7&_nc_sid=2d3e12&_nc_ohc=FHN0wMXnWuwQ7kNvgF1GLes&_nc_zt=24&_nc_ht=scontent-dfw5-2.xx&_nc_gid=A6WqX2n2qMBC0cUNbu7mIYm&oh=00_AYD0wlxGY9bMTVXuXMFKNBerOXbYgAWYcKOqpfiTUyDvTA&oe=677DE4DD" class="card-img" alt="img">
                    </div>
                    <h4 class="card-header">Shh Got Real</h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio hic ipsum modi.
                    </p>
                    <p class="card-footer">
                        <a href="https://www.facebook.com/shitjustgotrealpod/about" target="_blank">
                            Follow Us <i class="fa-brands fa-facebook"></i>
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="card">
                    <div class="card-header-pills">
                        <img src="https://chickennpickle.com/wp-content/uploads/2023/01/Full-Color_Locations-STC-1.svg" class="card-img" alt="img">
                    </div>
                    <h4 class="card-header">Chicken 'n' Pickle</h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio hic ipsum modi.
                    </p>
                    <p class="card-footer">
                        <a href="https://chickennpickle.com/location/st-charles/" target="_blank">
                            Visit Us <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </a>
                    </p>
                </div>
                <div id="contact"></div>
            </div>
        </section>
        <div class="row mb-6 justify-content-center">
            <div class="col-lg-6 mb-3">
                <h5 class="h1 mb-2">What Makes Us Different</h5>
                <p class="mb-2">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus deleniti dolorum eaque eos eveniet expedita facere fugiat incidunt modi molestiae mollitia natus nihil nostrum odit officiis sapiente sed, totam voluptas?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid assumenda cumque ducimus, excepturi expedita facere harum in inventore natus nihil omnis possimus quas quidem velit voluptas voluptatibus. Ipsum, repellendus!
                </p>
                <ul class="list-group-items">
                    <li class="list-item">
                        <i class="fa-solid fa-check-double"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet.
                    </li>
                    <li class="list-item">
                        <i class="fa-solid fa-check-double"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet.
                    </li>
                    <li class="list-item">
                        <i class="fa-solid fa-check-double"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet.
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 mb-3">
                <form name="contact"
                      method="POST"
                      data-netlify-recaptcha="true"
                      data-netlify="true">
                    <label for="email" class="form-label">Your Email</label>
                    <input type="email" name="email" id="email" class="form-control mb-2" required />
                    <label for="phone" class="form-label">Your Phone</label>
                    <input type="text" name="phone" id="phone" class="form-control mb-2" required />
                    <label for="date" class="form-label">Scheduling</label>
                    <input type="datetime-local" name="date" id="date" class="form-control mb-2" />
                    <label for="message" class="form-label">Your Message</label>
                    <textarea name="message" id="message" class="form-control mb-2" required rows="5"></textarea>
                    <div data-netlify-recaptcha="true" class="mb-2"></div>
                    <button class="btn btn-outline-light" type="submit">Send the message</button>
                </form>
            </div>
        </div>
    </div>
</main>

<%- include('layouts/footer') -%>
<!-- MDB -->
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>