<!doctype html>
<html lang="en" data-bs-theme="dark">
<%- include("layouts/header") -%>

<body style="background-color: black;">
<header>
    <%- include("layouts/navbar") -%>
</header>


<main class="container" style="margin-bottom: 80px; margin-top: 40px;">
    <div class="row justify-content-center align-items-center mb-6">
        <div class="col-lg-10">

            <form action="/store/event" method="post" enctype="application/x-www-form-urlencoded">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="name" class="form-label">Title</label>
                        <input type="text" name="title" class="form-control" id="name">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="eventUrl" class="form-label">Event url</label>
                        <input type="url" name="eventUrl" class="form-control" id="eventUrl">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="startDate" class="form-label">Start Date</label>
                        <input type="text" name="startDate" class="form-control" id="startDate">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="startTime" class="form-label">Start Time</label>
                        <input type="text" name="startTime" class="form-control" id="startTime">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="endDate" class="form-label">End Date</label>
                        <input type="text" name="endDate" class="form-control" id="endDate">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="endTime" class="form-label">End Time</label>
                        <input type="text" name="endTime" class="form-control" id="endTime">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="description" id="description" rows="4" class="form-control"></textarea>
                    </div>
                    <div>
                        <button class="btn btn-danger" type="submit">Upload Event</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

<%- include("layouts/footer") -%>
</body>
</html>