<!doctype html>
<html lang="en">
<%- include('layouts/header') -%>
<body class="bg-red-gradient">

<!--header and navbar-->
<header class="mb-8">
    <!-- Navbar -->
    <%- include('layouts/navbar2') -%>
</header>

<main class="container my-5 py-5">
    <section class="row justify-content-center align-items-center">
        <div class="col-lg-10">
            <h1 class="fw-bold mb-4 display-4">Privacy Policy</h1>
            <p class="lead mb-3">
                MCWT is committed to respecting the privacy of our donors. We have developed this privacy policy to ensure our donors that donor information will not be shared with any third party.
            </p>
            <p class="mb-3 h6">
                <strong>Awareness.</strong> Deon Lendore Foundation provides this Donor Privacy Policy to make you aware of our privacy policy, and to inform you of the way your information is used.
            </p>
            <p class="h6">
                Information Collected. Here are the types of donor information that we collect and maintain:
            </p>
            <ul class="h6 mb-3">
                <li>
                    Contact information: name, company or organization, complete address, phone number, email address.
                </li>
                <li>
                    Payment information: credit card number and expiration date, and billing information.
                </li>
                <li>
                    Your request to receive periodic updates, e.g., to individuals who request it, we will send periodic mailings related to specific fund- raising appeals, prayer concerns, and newsletters.
                </li>
            </ul>
            <p class="h6 mb-3">
                <strong>How Information is Used.</strong> Deon Lendore Foundation uses your information to understand your needs and provide you with better service. Specifically, we use your information to help you complete a transaction, communicate back to you, and update you on the organization. Credit card numbers are used only for donation or payment processing and are not retained for other purposes.
            </p>
            <p class="h6 mb-3">
                <strong>No Sharing of Personal Information.</strong> Deon Lendore Foundation will not sell, rent, or lease your personal information to other organizations. We assure you that the identity of all our donors will be kept confidential. Use of donor information will be limited to the internal purposes.
            </p>
            <p class="h6 mb-3">
                Removing Your Name from Our Mailing List. It is our desire to not send unwanted email to our donors. Please contact us if you wish to be removed from our email list.
            </p>
            <p class="h6 mb-3">
                Contribution information is protected through the secure and encrypted systems via Square, where all donations are processed. Email addresses, names and other contact information are protected by a secure system designed to prevent unauthorized disclosure of your personal information.
            </p>
            <p class="h6 mb-3">
                <strong>Contacting Us.</strong> If you have comments or questions about our donor privacy policy, please send us an email at shhjustgotreal@gmail.com.
            </p>
            <p class="h6 mb-3">
                MCWT is committed to respecting the privacy of our donors. We have developed this privacy policy to ensure our donors that donor information will not be shared with any third party.
            </p>
            <p class="h6 mb-3">
                <strong>Awareness.</strong> MCWT provides this Donor Privacy Policy to make you aware of our privacy policy, and to inform you of the way your information is used.
            </p>
            <p class="h6">
                <strong>Information Collected.</strong> Here are the types of donor information that we collect and maintain:
            </p>
            <ul class="h6 mb-3">
                <li>
                    Contact information: name, company or organization, complete address, phone number, email address.
                </li>
                <li>
                    Payment information: credit card number and expiration date, and billing information.
                </li>
                <li>
                    Your request to receive periodic updates, e.g., to individuals who request it, we will send periodic mailings related to specific fund-raising appeals, prayer concerns, and newsletters.
                </li>
            </ul>
            <p class="h6 mb-3">
                <strong>How Information is Used.</strong> MCWT uses your information to understand your needs and provide you with better service. Specifically, we use your information to help you complete a transaction, communicate back to you, and update you on the organization. Credit card numbers are used only for donation or payment processing and are not retained for other purposes.
            </p>
            <p class="h6 mb-3">
                <strong>No Sharing of Personal Information.</strong> MCWT will not sell, rent, or lease your personal information to other organizations. We assure you that the identity of all our donors will be kept confidential. Use of donor information will be limited to the internal purposes.
            </p>
            <p class="h6 mb-3">
                <strong>Removing Your Name from Our Mailing List.</strong> It is our desire to not send unwanted email to our donors. Please contact us if you wish to be removed from our email list.
            </p>
            <p class="h6 mb-3">
                Donation information is protected through the secure and encrypted systems via PayPal, where all donations are processed. Email addresses, names and other contact information are protected by a secure system designed to prevent unauthorized disclosure of your personal information.
            </p>
            <p class="h6 mb-3">
                <strong>Contacting Us.</strong> If you have comments or questions about our donor privacy policy, please send us an email at Info@deonlendorefoundation.org.
            </p>
            <p class="lead mb-3">
                CONFLICT OF INTEREST POLICY OF MOM CAN WE TALK
            </p>
            <p class="h6 mb-3">
                Members of the Board shall not personally benefit because of their Board involvement, except for reasonable compensation of services rendered.
            </p>
            <p class="h6 mb-3">
                If the Board considers an issue that involves the financial relationship between the organization and a member of the Board the Board Member will disclose to the Board the financial relationship that the Board Member has, with respect to the issue. The Board Member shall refrain from voting on the matter.
            </p>
            <p class="h6 mb-3">
                Board Members who serve as an employee or volunteer in a decision-making capacity on behalf of another organization which Deon Lendore Foundation is working with or transacting business with, shall inform the Board Chairman as to their involvement in the said organization.
            </p>
            <p class="h6 mb-6">
                It should be mentioned that the Conflict-of-Interest Policy as enumerated here applies to a Board Member’s immediate family, as well as themselves.
            </p>
            <h3 class="mb-4">RETENTION AND ACCESS REQUIREM ENTS FOR RECORDS – GENERAL</h3>
            <p class="h6 mb-3">
                The corporate records of MCWT are important assets. Corporate records include all records you produce as a volunteer, whether paper or electronic. A record may be as obvious as a memorandum, an e-mail, a contract or a case study, or something not as obvious, such as a computerized desk calendar, an appointment book or an expense report.
            </p>
            <p class="h6 mb-3">
                The organization expects all employees or volunteers to fully comply with any published records retention or destruction policies and schedules, provided that all employees or volunteers should note the following general exception to any stated destruction  schedule: if you believe, or the organization informs you, that the organization’s records  are relevant to litigation, or potential litigation (i.e., a dispute that could result in litigation), then you must preserve those records until legal consultation determines the records are no longer needed. That exception supersedes any previously or subsequently established destruction schedule for those records.
            </p>
            <p class="h6">
                From time to time, the organization establishes retention or destruction policies or schedules for specific categories of records to ensure legal compliance, and to accomplish other objectives, such as preserving intellectual property
            </p>
        </div>
    </section>
</main>
<!-- MDB -->

<%- include('layouts/footer') -%>
</body>
</html>