<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>
<body class="bg-red-gradient">
<header class="mb-9">
    <%- include('layouts/navBar2') -%>
</header>

<main class="container my-5 py-5">
    <div class="row justify-content-center align-items-center mb-6">
        <div class="col-lg-8 text-center">
            <h1>Getting Sponsored</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6 mb-3">
            <div class="card">
                <p class="card-text">
                    <strong>Thanks Mom - $2500</strong> <br>

                    <h6>
                    FRONT VENDOR TABLE AT EVENT

                    ADVERTISEMENT ON FACEBOOK UP UNTIL THE EVENT

                    LOGO RECOGNITION IN ALL MARKETING MATERIALS PROMOTING EVENT

                    STAGE SPONSORSHIP – SIGNAGE ON THE MAIN STAGE

                    EXCLUSIVE SOCIAL MEDIA SHOUT-OUT
                </h6>
                </p>
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="card">
                <p class="card-text">
                    <strong>YOU’RE FINALLY LISTENING - $1500</strong> <br>

                    <h6>
                    LOGO RECOGNITION IN ALL MARKETING MATERIALS PROMOTING EVENT

                    STAGE SPONSORSHIP – SIGNAGE ON THE MAIN STAGE

                    EXCLUSIVE SOCIAL MEDIA SHOUT-OUT
                </h6>
                </p>
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="card">
                <p class="card-text">
                    <strong>CAN YOU HEAR ME NOW - $1000</strong> <br>

                    <h6>
                    STAGE SPONSORSHIP – SIGNAGE ON THE MAIN STAGE

                    EXCLUSIVE SOCIAL MEDIA SHOUT-OUT
                </h6>
                </p>
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="card">
                <p class="card-text">
                    <strong>MOM/DAD YOU’RE NOT LISTENING - $500</strong> <br>

                    <h6>
                    EXCLUSIVE SOCIAL MEDIA SHOUT-OUT
                </h6>
                </p>
            </div>
        </div>
    </div>
</main>

<%- include('layouts/footer') -%>

<!-- MDB -->
</body>
</html>