<!doctype html>
<html lang="en" data-bs-theme="dark">
<%- include("layouts/header") -%>
<style>
    .sponsor-bg {
        background: linear-gradient(to bottom, rgba(244, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
        url("https://t4.ftcdn.net/jpg/08/13/51/07/240_F_813510764_I1iDlwkCdyKCiNRbqjYjy6x2go2xUrmZ.jpg") no-repeat center center fixed;
        background-size: cover;
        width: 100%;
        height: 70vh;
    }
</style>
<body style="background-color: black;">
<header class="sponsor-bg">
    <%- include("layouts/navbar") -%>
    <section class="container-fluid">
        <div class="row"
             style="height: 30vh;">
            <div class="col-lg-9">
                <h1 class="mb-3 fw-bold">Getting Sponsored</h1>
                <p class="text-white ">
                    Share your voice with us by getting sponsored on one or both of our shows.
                </p>
            </div>
        </div>
    </section>
</header>

<main class="container my-5 py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-4">
            <div class="card">
                <p class="card-header">Featured Sponsorship</p>
                <div class="card-body">
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam cum dolorum eligendi esse eveniet ex explicabo laboriosam maiores maxime nihil nisi pariatur.
                    </p>
                </div>
                <p class="card-footer">
                    <a href="" class="btn btn-outline-danger rounded-pill">Get Started</a>
                </p>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <p class="card-header">Featured Sponsorship</p>
                <div class="card-body">
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam cum dolorum eligendi esse eveniet ex explicabo laboriosam maiores maxime nihil nisi pariatur.
                    </p>
                </div>
                <p class="card-footer">
                    <a href="" class="btn btn-outline-danger rounded-pill">Get Started</a>
                </p>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <p class="card-header">Featured Sponsorship</p>
                <div class="card-body">
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam cum dolorum eligendi esse eveniet ex explicabo laboriosam maiores maxime nihil nisi pariatur.
                    </p>
                </div>
                <p class="card-footer">
                    <a href="" class="btn btn-outline-danger rounded-pill">Get Started</a>
                </p>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <p class="card-header">Featured Sponsorship</p>
                <div class="card-body">
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam cum dolorum eligendi esse eveniet ex explicabo laboriosam maiores maxime nihil nisi pariatur.
                    </p>
                </div>
                <p class="card-footer">
                    <a href="" class="btn btn-outline-danger rounded-pill">Get Started</a>
                </p>
            </div>
        </div>
    </div>
</main>

<%- include("layouts/footer") -%>
</body>
</html>