<!doctype html>
<html lang="en" data-bs-theme="dark">
<%- include('layouts/header') -%>
<body style="background-color: black;">
<header>
    <%- include('layouts/navbar') -%>
</header>

<main class="container" style="margin-top: 50px; margin-bottom: 70px;">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-12 mb-4">
            <h1 class="text-center fw-bold mb-2">Listen to Us On Spotify</h1>
        </div>
        <div class="col-md-12 mb-3">
            <div class='sk-ww-spotify-podcast' data-embed-id='25516485'></div><script src='https://widgets.sociablekit.com/spotify-podcast/widget.js' defer></script>
        </div>
    </div>
</main>

<%- include('layouts/footer') -%>
<script type="text/javascript" src="/js/index.js"></script>
<!-- MDB -->
</body>
</html>