<div class="row justify-content-center text-center mb-5 pb-3">
    <div class="col-md-6 mb-4">
        <div class="card p-3">
            <h2 class="mb-3">Mom Can We Talk</h2>

            <video src="/videos/5312195356893458296.mp4" controls class="w-100 h-25" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <a href="https://www.youtube.com/@shhjustgotreal" target="_blank" class="btn btn-outline-danger w-50 mt-3 rounded-pill">Subscribe</a>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card p-3">
            <h2 class="mb-3">Shh Just Got Real</h2>
            <video src="/videos/Download.mp4" controls class="w-100 h-100" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <a href="https://www.youtube.com/@shhjustgotreal" target="_blank" class="btn btn-outline-danger w-50 mt-3 rounded-pill">Subscribe</a>
        </div>
    </div>
</div>