<div class="container">
    <div class="row justify-content-center mb-5 pb-5">
        <div class="col-lg-7 col-md-6 mb-4">
            <!--                             facebook-->
            <a href="https://www.facebook.com/shitjustgotrealpod/"
               class="btn rounded-circle text-white"
               style="background-color: #3b5998;"
               target="_blank">
                <span class="bi bi-facebook"></span>
            </a>
            <!--                            instagram-->
            <a href="https://r.search.yahoo.com/_ylt=Awrihw3MoolnPgIAobtXNyoA;_ylu=Y29sbwNiZjEEcG9zAzQEdnRpZAMEc2VjA3Ny/RV=2/RE=1738282956/RO=10/RU=https%3a%2f%2fwww.youtube.com%2fchannel%2fUCw3QRdFnhpaKo6gstj47gqQ%2fvideos/RK=2/RS=Cp2XE7ClWNUfq5NtL7O3t4wTvcE-"
               class="btn rounded-circle text-white"
               style="background-color: #e4405f"
               target="_blank">
                <span class="bi bi-youtube"></span>
            </a>
            <!--                            twitter-->
            <a href="https://r.search.yahoo.com/_ylt=AwrFD2Q4o4ln6gEAjmlXNyoA;_ylu=Y29sbwNiZjEEcG9zAzEEdnRpZAMEc2VjA3Ny/RV=2/RE=1738283064/RO=10/RU=https%3a%2f%2fwww.instagram.com%2fshitjustgotrealpodcast%2f/RK=2/RS=MwOqjEkIoVjG2sZtpHyp8Lcqlms-"
               class="btn rounded-circle text-white"
               style="background-color: #1da1f2"
               target="_blank">
                <span class="bi bi-instagram"></span>
            </a>
            <!--                            linkedin-->
            <a href="https://r.search.yahoo.com/_ylt=AwrhcqOBo4lnBQIAfkJXNyoA;_ylu=Y29sbwNiZjEEcG9zAzEEdnRpZAMEc2VjA3Ny/RV=2/RE=1738283137/RO=10/RU=https%3a%2f%2fwww.tiktok.com%2f%40shhjust_gotreal%2fvideo%2f7110339317251329326/RK=2/RS=QPEti3BvtuMOatUOCq35omHhzpk-"
               class="btn rounded-circle text-white"
               style="background-color: #1da1f2"
               target="_blank">
                <span class="bi bi-tiktok"></span>
            </a>
            <a class="text-decoration-none" href="/spotify">
                <img src="/images/spotify.svg" alt="amazon music" class="me-1" height="36" width="36">
            </a>

            <h1 class="display-1 fw-bold mb-4">Mom Can We Talk?</h1>
            <div class="btn-container">
                <a href="https://app.frame.io/reviews/6ef12aca-2c21-4286-926c-8e0dd774f3ba/fcedca44-c9b6-45eb-a739-b5df89d872ed"
                   target="_blank"
                   data-bs-toggle="modal" data-bs-target="#exampleModal"
                   class="button type--A">
                    <div class="button__line"></div>
                    <div class="button__line"></div>
                    <span class="button__text">Just Listen To Us</span>
                    <div class="button__drow1"></div>
                    <div class="button__drow2"></div>
                </a>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Mom Can We Talk</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <video src="#"
                                       controls class="w-100" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <div class="modal-footer">
                                <a href="/events" class="btn btn-danger rounded-pill me-2">Check Out Events</a>
                                <a href="/sponsors" class="btn btn-danger rounded-pill">Get Sponsored</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 mb-4">
            <img src="/images/main-image.png" class="img-fluid" alt="main image">
        </div>
    </div>
</div>