<div class="row mb-5 pt-3 justify-content-center">
    <div class="col-lg-12 mb-4">
        <p>
            We're sponsored by local small businesses in the community, and we're looking for more sponsors to help us continue to provide free and low-cost services to the community. If you're interested in becoming a sponsor, please contact
            <a href="contact.ejs">us today</a>.
        </p>
    </div>
    <div class="col-lg-3 hover-zoom col-md-6 mb-3">
        <h4 class="h5">Soulmine</h4>
        <a href="https://soulmine.life/" target="_blank">
            <img src="https://soulmine.life/wp-content/uploads/2025/02/SOULMINE_LOGO-142x80-1.png#72"
                 class="w-50 h-50" alt="img">
        </a>
        <p class="card-text">
            Providing Mental Health Therapists for events.
        </p>
    </div>
    <div class="col-lg-3 hover-zoom col-md-6 mb-3">
        <h4 class="h5">D.A.C.</h4>
        <a href="https://www.dadsagainstcrime.org/" target="_blank">
            <img src="https://images.squarespace-cdn.com/content/v1/650b3abd7bbe08247247e5c8/09d133cb-fc0c-4234-aa80-1abe59e3dbcf/logo+dads-01.png?format=1500w"
                 class="h-50 w-50" alt="img">
        </a>
        <p class="card-text">
            Provides resources to support Mom Can We Talk.
        </p>
    </div>
    <div class="col-lg-3 hover-zoom col-md-6 mb-3">
        <h4 class="h5">Shh Just Got Real</h4>
        <a href="https://www.facebook.com/shitjustgotrealpod/about" target="_blank">
            <img src="/images/sponsor-mcwt.png"
                 class="w-50 h-50" alt="img">
        </a>
        <p class="card-text">
            The Host of this Podcast Host & Support MCWT
        </p>
    </div>
    <div class="col-lg-3 hover-zoom col-md-6 mb-3">
        <h4 class="h5">Chicken 'n' Pickle</h4>
        <a href="https://chickennpickle.com/location/st-charles/" target="_blank">
            <img src="https://chickennpickle.com/wp-content/uploads/2022/10/ChickenNPicke_logo_primary_FullColor-1.png"
                 class="h-50 w-75" alt="img">
        </a>
        <p class="card-text">
            Expanding their Community Involvement w/MCWT
        </p>
        <div id="contact"></div>
    </div>
</div>