<nav class="side-navbar">
    <div class="row justify-content-center text-center pt-5">
        <div class="col-8">
            <a href="/" class="nav-link">Home</a>
            <a href="/about" class="nav-link">About</a>
            <a href="/events" class="nav-link">Events</a>
            <a href="/register" class="nav-link">SignUp</a>
            <a href="/blogs" class="nav-link">Blogs</a>
            <a href="/sponsors" class="nav-link">Sponsor</a>
            <hr>
            <a href="/logout" class="nav-link">Logout</a>
        </div>
    </div>
</nav>