<footer class="bg-dark p-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <img src="/images/logo.png" height="45" width="65" alt="logo">
                <p>
                    We truly believe that IT TAKES A VILLAGE!! With the Community's support, we can make a meaningful impact on the lives of the youth in our community.
                </p>
            </div>
            <div class="col-md-4 mb-3">
                <h4>Our Directoy</h4>
                <ul>
                    <li>Home Page</li>
                    <li>About MCWT</li>
                    <li>Get Our App</li>
                    <li>Sponsor Us</li>
                    <li>Opportunity</li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h4>Follow Our Show</h4>
                <img src="/images/amazon_music.svg" alt="amazon music" class="me-1" height="30" width="30">
                <img src="/images/iheartradio.svg" alt="amazon music" class="me-1" height="30" width="30">
                <a target="_blank" class="text-decoration-none" href="https://open.spotify.com/show/0wQ3H0eDMjWgVDrt8OWGS4?si=U3jeVvmkRpWj1cg7THDG2w">
                    <img src="/images/spotify.svg" alt="amazon music" class="me-1" height="30" width="30">
                </a>
                <a href="https://www.facebook.com/shitjustgotrealpod/"
                   class="btn rounded-circle text-white"
                   style="background-color: #3b5998"
                   target="_blank">
                    <span class="bi bi-facebook"></span>
                </a>
                <!--                            instagram-->
                <a href="https://r.search.yahoo.com/_ylt=Awrihw3MoolnPgIAobtXNyoA;_ylu=Y29sbwNiZjEEcG9zAzQEdnRpZAMEc2VjA3Ny/RV=2/RE=1738282956/RO=10/RU=https%3a%2f%2fwww.youtube.com%2fchannel%2fUCw3QRdFnhpaKo6gstj47gqQ%2fvideos/RK=2/RS=Cp2XE7ClWNUfq5NtL7O3t4wTvcE-"
                   class="btn rounded-circle text-white"
                   style="background-color: #e4405f"
                   target="_blank">
                    <span class="bi bi-youtube"></span>
                </a>
                <!--                            twitter-->
                <a href="https://r.search.yahoo.com/_ylt=AwrFD2Q4o4ln6gEAjmlXNyoA;_ylu=Y29sbwNiZjEEcG9zAzEEdnRpZAMEc2VjA3Ny/RV=2/RE=1738283064/RO=10/RU=https%3a%2f%2fwww.instagram.com%2fshitjustgotrealpodcast%2f/RK=2/RS=MwOqjEkIoVjG2sZtpHyp8Lcqlms-"
                   class="btn rounded-circle text-white"
                   style="background-color: #1da1f2"
                   target="_blank">
                    <span class="bi bi-instagram"></span>
                </a>
                <!--                            linkedin-->
                <a href="https://r.search.yahoo.com/_ylt=AwrhcqOBo4lnBQIAfkJXNyoA;_ylu=Y29sbwNiZjEEcG9zAzEEdnRpZAMEc2VjA3Ny/RV=2/RE=1738283137/RO=10/RU=https%3a%2f%2fwww.tiktok.com%2f%40shhjust_gotreal%2fvideo%2f7110339317251329326/RK=2/RS=QPEti3BvtuMOatUOCq35omHhzpk-"
                   class="btn rounded-circle text-white"
                   style="background-color: #1da1f2"
                   target="_blank">
                    <span class="bi bi-tiktok"></span>
                </a>
                <hr>
                <a href="/privacyPolicy" class="text-decoration-none text-white">Privacy Policy</a>
                <br>
                <a href="/termsConditions" class="text-decoration-none text-white">Terms and Conditions</a>
            </div>
            <hr>
            <div class="col-md-6">
                <p>
                    copyright ©2024, All rights reserved.
                </p>
            </div>
            <div class="col-md-6 text-end mb-3">
                Created by <a href="https://steveswebdesigns.com/" target="_blank">Stephen Brooks</a>
            </div>
        </div>
    </div>
</footer>

<script src="/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/styles.js"></script>