<footer>
    <p>
        Copyright &copy; 2024 MomCanWeTalk.org
    </p>
    <p>
        Created By
        <a href="https://github.com/StephenBrooks714" target="_blank">Stephen Brooks</a>
    </p>
</footer>