<footer>
    <p>
        Copyright &copy; 2024 MomCanWeTalk.org
    </p>
    <p>
        Created By
        <a href="https://expedientmarketing.org/" class="text-white fw-bold" target="_blank">Expedient Marketing</a>
    </p>
</footer>
<!-- MDB -->
<script type="text/javascript" src="/js/main.js"></script>
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/8.1.0/mdb.umd.min.js"
></script>