<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%- locals.title -%></title>
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <link rel="canonical" href="https://www.momcanwetalk.org/">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="MCWT - Making a meaningful impact on the lives of the youth in our community.">
    <meta property="og:url" content=https://www.momcanwetalk.org/>
    <meta property="og:site_name" content="Mom Can We Talk">
    <meta property="og:image" content="https://www.momcanwetalk.org/">
    <meta name="twitter:card" content="https://www.momcanwetalk.org/images/logo.png">
    <meta name="twitter:label1" content="Est. reading time">
    <meta name="twitter:data1" content="2 minutes">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-icons.css">
    <link rel="stylesheet" href="/styles/buttons.css">
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <!-- MDB -->
</head>