<nav class="navbar social-media-btn-container dark-nav" id="navbar">
    <ul class="nav-items">
        <li class="nav-item">
            <a href="#">
                <img src="/assets/logo.png" height="75" width="85" alt="logo">
            </a>
        </li>
    </ul>
    <ul class="nav-items">
        <li class="nav-item">
            <a href="https://www.facebook.com/share/g/1H5qtA2wDr/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        </li>
        <li class="nav-item">
            <a href="https://www.eventbrite.com/o/shh-just-got-real-podcast-76684821313" target="_blank"><i class="fa-solid fa-e"></i></a>
        </li>
        <li class="nav-item">
            <a href="https://www.youtube.com/channel/UCTzTMiCPk7pTzclmBFISS7w/videos" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        </li>
    </ul>
</nav>