<nav class="navbar navbar-expand-lg navbar-dark fixed-top dark-nav" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/assets/logo.png" height="40" width="50" alt="logo">
        </a>
        <button
                data-mdb-collapse-init
                class="navbar-toggler"
                type="button"
                data-mdb-target="#navbarText"
                aria-controls="navbarText"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <% if(!loggedIn) { %>
                <li class="nav-item">
                    <a href="/login" class="nav-link">
                        Login
                    </a>
                </li>
                <% } else { %>
                        <li class="nav-item">
                        <a href="/logout" class="nav-link">
                            Logout
                        </a>
                    </li>
                        <li class="nav-item">
                        <a href="/admin" class="nav-link">
                            Admin
                        </a>
                    </li>
                <% } %>
            </ul>
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a
                            data-mdb-dropdown-init
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdownMenuLink"
                            role="button"
                            aria-expanded="false"
                    >
                        About Us
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="/about">The Team</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/privacyPolicy">Privacy Policy</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/terms">Our Terms</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a
                            data-mdb-dropdown-init
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdownMenuLink2"
                            role="button"
                            aria-expanded="false"
                    >
                        Involvement
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                        <li>
                            <a class="dropdown-item" href="/events">Our Events</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Get On The Show</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Contribute</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>