<article class="row mb-5">
    <div class="col-md-6 mb-3">
        <h2>Mission Statement:</h2>
        <p class="h6">
            To provide a safe platform for youth to share their stories and challenges, particularly those related to their upbringing, school life, and home environment. Through community collaboration and support, we aim to foster open dialogue, build empathy, and provide resources to help them overcome personal and societal struggles.
        </p>
    </div>
    <div class="col-md-6 mb-3">
        <h2>Vision Statement:</h2>
        <p class="h6">
            To create an ongoing, accessible platform for youth to discuss their challenges and receive guidance, resources, and support from adults who have overcome similar struggles. Through events, after-school programs, and digital tools like the upcoming Mom Can We Talk App! We aim to make lasting impacts in the lives of young people in underserved communities.
        </p>
    </div>
</article>