<div class="row justify-content-center">
    <div class="col-lg-4 mb-3">
        <h3 class="h3">Started In 2012</h3>
        <hr style="width: 140px; margin-top: 10px; margin-bottom: 10px;">
        <p class="fw-light h6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ipsa obcaecati omnis praesentium quasi, quis rerum? Assumenda cum dolor error et ipsum quaerat quis reprehenderit saepe sapiente vitae. Incidunt, qui?
        </p>
    </div>
    <div class="col-lg-4 mb-3">
        <h3 class="h3">Continued In 2017</h3>
        <hr style="width: 140px; margin-top: 10px; margin-bottom: 10px;">
        <p class="fw-light h6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ipsa obcaecati omnis praesentium quasi, quis rerum? Assumenda cum dolor error et ipsum quaerat quis reprehenderit saepe sapiente vitae. Incidunt, qui?
        </p>
    </div>
    <div class="col-lg-4 mb-3">
        <h3 class="h3">Currently In 2025</h3>
        <hr style="width: 140px; margin-top: 10px; margin-bottom: 10px;">
        <p class="fw-light h6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ipsa obcaecati omnis praesentium quasi, quis rerum? Assumenda cum dolor error et ipsum quaerat quis reprehenderit saepe sapiente vitae. Incidunt, qui?
        </p>
    </div>
</div>